
@font-face {
  font-family: "Sensation";
  src: url("../../sansation/Sansation_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.lightZone{
    background-color: rgb(225, 232, 248);
    color: rgb(9, 31, 80);
}
#darkZone{
    color: rgb(225, 232, 248);
    background-color: rgb(9, 31, 80);
}
.lightZone h1{
    
    border-bottom: 1px solid rgb(15, 10, 7);
    font-size: 38px;
}
#darkZone h1{
    
    border-bottom: 1px solid rgb(217, 241, 253);
    font-size: 38px;
}
#lightSection>section>section>h1{
    font-size: 20px;
    border:none;
}
header span {
    font-size: 38px;
    font-family:'Sensation',sans-serif;
}
.container{
    border: 2px solid rgb(15, 10, 7);
}
